.body{
    margin: 0;
    padding: 0;
}

.RegForm{
    background: url('church.jpg');
    height: 100vh;
    background-position: center;
    background-size: cover;

    
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.formbox{
    background:#e89f9ffa;
    width: 600px;
}

.form
{
    width: 400px;
    padding: 40px;
    box-sizing: border-box;
}

.form-header{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.form-header span:nth-child(1)
{
    font-size: 30px;
    font-weight: 700;
}
.form-header span:nth-child(2)
{
    font-size: 14px;
}

.input-container
{
    position: relative;
    margin: 20px 0;

}
.input-container label{
    position: absolute;
    font-size: 12px;
    text-transform: uppercase;
    color: #1d0a0a;
    width: 100%;
    display: block;
    z-index: 0;
    bottom: 5px;
    transition: all 0.1s ease-in-out;
}
.input-container.active label{
    bottom: 25px;
}

.input-container .input{
    outline: none;
    border: none;
    border-bottom: 1px solid #180808;
    cursor: text;
    width: 100%;
    position: relative;
    background: transparent;
    box-sizing: border-box;
    padding: 5px 0;
    font-family: 'Times New Roman';
    font-weight: 500;
}

.enter-btn{
    text-transform: uppercase;
    color: #ffffff;
    font-family: "Recursive";
    font-weight: 500;
    padding: 10px 20px;
    box-sizing: border-box;
    background: #f44336;
    border: none;
}


